:root {
    --light-bg: #E1DED4;
    --dark-bg: #2D2834;
    --med-light: #8B8B9A;
    --med-dark: #6B6978;
    --accent: #A694AE;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    padding: .5rem;
}