:root {
    --light: #d6d1dc;
    --dark: #2D2834;
    --med-light: #babad3;
    --med-dark: #6B6978;
    --accent: #a693ae;
    --bright: rgb(200, 0, 255);
    --light-bright: rgb(223, 106, 255);
    --med-pink: rgb(233, 165, 252);
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--dark);
    min-height: 100vh;
    box-sizing: border-box;
    min-height: 100vh;
}

header {
    padding-top: 3rem;
}

main {
    color: var(--light);
    width: 90%;
    margin-top: 3rem; 
    /* margin-5%!important; */
    margin-left: auto;
    margin-right: auto;
}

div.container-fluid {
    padding: 0!important;
    margin: 0 5%;
    justify-content: space-between;
}

h1 {
    color: var(--light-bright);
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--light-bright)
}

a.nav-link,
svg.footer-icons {
    /* font-size: 1.5rem; */
    color: var(--light-bright);
}

h1:hover,
a:hover,
.nav-link.active,
.navbar-nav,
svg.footer-icons:hover,
svg.footer-icons:focus {
    color: var(--bright) !important;
}

.underline {
    border-bottom: solid 1px var(--light-bright);
    width: 100%;
    flex-direction: row;
    padding-bottom: 0;
    margin-bottom: 0;

}

h2, h3, h5 {
    color: var(--light-bright);
}

h3 {
    font-size: 1.5rem;
}

h4 {
    display: inline-block;
    font-size: 1rem;
}

.projects h4 {
    width: 15rem;
}

h6 {
    width: 14rem;
    color: var(--light);
    font-weight: normal;
    margin-left: 1rem;
}

.about p {
    color: var(--med-light);
    margin-top: 1rem;
}

.card {
    margin: 1rem;
    background-color: var(--accent)
}

div.card-img-overlay {
    background-color: rgb(45, 40, 52, .75)
}

.card-icon,
.card-title {
    color: var(--light);
}

.card-title:hover,
.card-icon:hover
{
    color: var(--accent)
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    color: var(--med-light)
}


button.btn {
    background-color: var(--light-bright);
    color: var(--dark)
}

button.btn:hover {
    background-color: var(--bright);
    color: var(--dark)
}

.projects a {
    color: var(--med-light);
    margin-right: 1rem;
}

.projects a:hover {
    color: var(--med-pink)!important;
}

.projects p {
    margin: 0;
    text-align: left;
    color: var(--med-light);
}

footer {
    margin-bottom: 1.5rem;
}

footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

footer li {
    padding: 0 1rem;
}


/* media queries */
@media only screen and (max-width: 992px) {
    header {
        padding-top: 2rem!important;
    }
    .nav-link, .nav-link.active {
        padding-right: 1rem;
    }
    main {
        margin-top: 2rem;
    }

    h3 {
        font-size: 1.25rem;
    }
    .resume h6 {
        margin-top: .5rem;
    }
    .res-flex {
        flex-direction: column;
    }
    .project-links {
        margin-left: 1rem;
    }
    .resume ul {
        margin-left: 1rem;
    }
    .resume li {
        display: inline-block;
        margin: 0 .75rem .25rem 0;
    }
    .projects p {
        margin-left: 1rem;
    }
    .about {
        flex-direction: column;
        align-items: center;
    }
    .about-body {
        margin-right: 0!important;
    }
    .headshot {
        margin-top: 1.5rem;        
    }
}

@media only screen and (max-width: 700px) {
    .project-links{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    header {
        padding-top: 1.5rem!important;
    }
    h1 {
        font-size: 2rem;
    }
    a.nav-link, a.nav-link.active {
        padding-bottom: 0 0 0.5rem;
    }
    main {
        margin-top: 1.5rem;
    }
    h5 {
        font-size: 1rem;
    }
    form.contact-form {
        width: 100%
    }
    .contact-div {
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        margin: 0rem 1rem;
    } 

}

@media only screen and (max-width: 360px) {
    header {
        padding-top: 1rem;
    }
    h1 {
        margin-bottom: .25rem;
    }
    a.nav-link, a.nav-link.active {
        padding:0 0 0.25rem;
    }
    .underline {
        flex-direction: column;
    }
    main {
        margin-top: 1rem;
    }
}

